form{
        background-color: white
        border: 0px solid #eceff1;
        border-radius: 6px;
        box-shadow: rgba(100, 10, 100, 0.3) 0 8px 12px 4px, 
          rgba(90, 10, 90, 0.15) 0 8px 12px 4px;
        margin: 2%;
        margin-left: 15%;
        padding: 20px;
        width: 40%;
        
        overflow: hidden;
        position: relative;
        float: left;
    
}

#question{
font-size: 50px;
color: gold


}

.choice{
font-size: 28px;
color: white

}

body{

    /*background-image: url(assets/kobe.jpg);*/
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000;
    
}

button{
  background-color: purple;
  cursor: pointer;
  margin: 30px
  
}

#score{
color: purple;
font-weight: 600px;
font-size: 28px;

}